iframe{
    border-radius: 10px;
    padding: 10px;
}

.bk-p{
    background-color: rgba(0, 0, 0, 0.384);
}

p{
    color: white;
}

h1{
    color: white;
}

.cartas{
    width: 240px;
    height: 350px;
}

.bg-dark{
    flex-direction: unset;
}

.espandir:hover{
    transition: 1s;
    transform: scale(1.2);
}

.espandir{
    transition: 1s;
}

.filmes {
    overflow-x: auto;
    white-space: nowrap;
    gap: 8px;
}

.filmes::-webkit-scrollbar {
    height: 10px;
}
  
.filmes::-webkit-scrollbar-track {
    background: #333;
}
  
.filmes::-webkit-scrollbar-thumb {
    background: #f00;
    border-radius: 10px;
}
  
.filmes::-webkit-scrollbar-thumb:hover {
    background: #c00;
} 